{% extends 'base.html' %}

{% block head %}


{% endblock %}




{% block body %}

<form action="/" method="POST">
    <img class="mb-4" src="{{ url_for('static', filename='assets/NLBeelogo2.jpeg')}}" alt="" width="111.5" height="111.5">
    <h1 class="h3 mb-3 fw-normal">Aradığınız filmi anlatın.</h1>

    <div class="form-floating">
        <textarea type="text" class="form-control form-control" name="description" id="description" placeholder="Search" rows="2" style="height:100%"></textarea>
        <label class="textareainside" for="description">Filmi anlat...</label>
    </div>
        <button class="w-10 btn btn-primary" type="submit">Bul!</button>
</form>
{% endblock %}

{% block results%}

{% endblock %}
