{% extends 'base.html' %}

{% block head %}


{% endblock %}



{% block body %}


<div class="container justify-content-center movie-box">
    <h1 class="h3 mb-3 fw-normal">NLBee</h1>

    NLBee tamamı İTÜ öğrencilerinden oluşan, farklı bölümlerden insanları bir araya getiren bir doğal dil işleme grubudur. "İTÜ Doğal Dil İşleme Araştırma Grubu" bünyesinde faaliyetlerini yürüten öğrencilerden oluşan NLBee, teorik ve pratik problemlere optimal karmaşıklıkta çözümler bulma misyonuna sahiptir.
</div>

{% endblock %}